<span page-title>{{ 'Container Images' | translate }}</span>

<div data-extend-template="layouts/table-with-header.html">

  <div data-block="header">
    <h2 translate>Container Images</h2>
  </div>

  <span data-block="no-rows-message" translate>
    You currently don't have any Container Images.
  </span>

  <span data-block="no-search-results-message" translate>
    Your search returned zero Container Images.
  </span>

  <div data-block="table">
    <table class="table table-striped table-bordered" ng-class="{'table-mask': table.working}">
      <thead>
        <tr bst-table-head>
          <th bst-table-column="name">{{ "Name" | translate }}</th>
          <th bst-table-column="name">{{ "Environment" | translate }}</th>
          <th bst-table-column="name">{{ "Content View Version" | translate }}</th>
          <th bst-table-column="name">{{ "Image Path" | translate }}</th>
        </tr>
      </thead>

      <tbody>
        <tr bst-table-row ng-repeat="tag in table.rows">
          <td bst-table-cell>
            <a ui-sref="container-image.info({tagId: tag.id})">
              {{ tag.name }}
            </a>
          </td>
          <td bst-table-cell>
            {{ tag.environment.name }}
          </td>
          <td bst-table-cell>
            {{ tag.content_view_version.name }}
          </td>
          <td bst-table-cell>
            {{ tag.repository.full_path }}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
