<form name="activationKeyForm" class="form-horizontal" novalidate role="form">

  <div alch-form-group label="{{ 'Name' | translate }}">
    <input id="name"
           name="name"
           ng-model="activationKey.name"
           type="text"
           tabindex="1"
           autofocus
           required/>
  </div>

  <div alch-form-group label="{{ 'System Limit' | translate }}" field="max_systems">
    <span translate>Unlimited Systems:</span>
    <input type="checkbox"
           name="limit"
           ng-model="unlimited"
           ng-checked="isUnlimited(activationKey)"
           ng-change="unlimitedChanged(activationKey)"/>

    <div alch-form-group label="{{ 'Limit' | translate }}" ng-hide="isUnlimited(activationKey)">
      <input id="max_systems"
             name="max_systems"
             class="form-control"
             ng-model="activationKey.max_systems"
             type="number"
             ng-change="inputChanged(activationKey)"
             tabindex="2"/>
    </div>
  </div>

  <div alch-form-group label="{{ 'Description' | translate }}">
    <textarea id="description"
              name="description"
              ng-model="activationKey.description"
              tabindex="3">
    </textarea>
  </div>

  <!-- TODO: replace w/ widget -->
  <div class="form-group required">
    <label class="control-label col-sm-2" translate>Environment</label>
    <div class="col-sm-5 input">
      <span id="environment_path_selector"
            path-selector="activationKey.environment_id"
            organization="organization"
            on-change="setEnvironment(environmentId)">
      </span>
    </div>
  </div>

  <div alch-form-group label="{{ 'Content View' | translate }}">
    <select id="content_view"
            name="content_view"
            ng-model="activationKey.content_view_id"
            ng-options="contentView.name for contentView in contentViews"
            tabindex="4"
            autofocus
            required/>
    </select>
    <span class="help-block" translate>
      If the content view selector list is blank you will need to choose a different environment that contains atleast 1 content view.
    </span>
  </div>


  <div alch-form-buttons
       on-cancel="transitionTo('activation-keys.index')"
       on-save="save(activationKey)"
       working="working">
  </div>

</form>
